{{#>../shared/layout}}
{{#*inline 'content'~}}
<table>
    <thead>
        <tr>
            <td></td>
            <td>{{ kankaLocalize "journal.shared.labels.child_name" }}</td>
        </tr>
    </thead>
    {{#each data.system.snapshot.list }}
    {{#with (kankaFindReference this @root.data.system.type) as | ref | }}
    <tr class="{{#if (kankaIsSecret ref) }}-secret{{/if}}">
        <td class="thumb -rounded">
            {{#if ref.thumb}}<img src="{{ref.thumb}}" alt="{{ref.name}}" class="nopopout" />{{/if}}
            <span class="placeholder"></span>
        </td>
        <td>
            {{{ ref.link }}}
        </td>
    </tr>
    {{/with}}
    {{/each}}
</table>
{{~/inline}}
{{/../shared/layout}}