branches:
    - main
tagFormat: ${version}
plugins:
    - '@semantic-release/commit-analyzer'
    - '@semantic-release/release-notes-generator'
    - '@semantic-release/npm'
    - '@semantic-release/changelog'
    - '@semantic-release/git'
    - - '@google/semantic-release-replace-plugin'
      - replacements:
            - files: [dist/module.json]
              from: '__VERSION__'
              to: '${nextRelease.version}'
