{{#if includeImage}}
<img src="{{entity.image}}" class="kanka-main-image">
{{/if}}
{{#if metaData.length}}
<table class="kanka-metadata">
    {{#each metaData}}
        {{#if this.label}}
            <tr class="section-header"><th colspan="2">{{{ this.label }}}</th></tr>
        {{/if}}
        {{#each this.data}}
            <tr>
                <th>{{{ this.label }}}</th>
                <td>{{{ this.value }}}</td>
            </tr>
        {{/each}}
    {{/each}}
</table>
{{/if}}
{{{ entity.entry }}}
