{{#if includeImage}}
<img src="{{entity.image}}" class="kanka-main-image">
{{/if}}
{{#if metaData.length}}
<table class="kanka-metadata">
    {{#each metaData}}
        {{#if this.label}}
            <tr class="section-header"><th colspan="2">{{{ this.label }}}</th></tr>
        {{/if}}
        {{#each this.data}}
            <tr>
                <th>
                    {{#if this.linkTo}}
                    <a
                        href="{{ kankaLink this.linkTo.entityType this.linkTo.id }}"
                        data-id="{{ this.linkTo.entityId }}"
                        class="kanka-reference-link"
                    >
                        {{{ this.label }}}
                        <i class="fas fa-link"></i>
                    </a>
                    {{else}}
                        {{{ this.label }}}
                    {{/if}}
                </th>
                <td>{{{ this.value }}}</td>
            </tr>
        {{/each}}
    {{/each}}
</table>
{{/if}}
{{{ entity.entry }}}

{{#each publicNotes}}
    {{#unless this.isSecret}}
        <h2>{{ this.name }}</h2>
        {{{ this.entry }}}
    {{/unless}}
{{/each}}

{{#if secretNotes.length}}
    <section class="secret">
        {{#each secretNotes}}
            {{#if this.isSecret}}
                <h2>{{ this.name }}</h2>
                {{{ this.entry }}}
            {{/if}}
        {{/each}}
    </section>
{{/if}}
