<section class="kanka-container">
    <header>
        <h2>
            <a href="{{ kankaLink }}" target="_blank">{{ campaign.name }}</a>
        </h2>
    </header>

    {{#if campaign.entry }}
    <section class="campaign-description">
        {{#if campaign.image }}
        <img src="{{ campaign.image }}" alt="{{ campaign.name }}" class="campaign-image" />
        {{/if}}
        {{{ campaign.entry }}}
    </section>
    <hr/>
    {{/if}}

    <details class="locations entity-list" open>
        <summary class="action-row">
            <div>
                <i class="fas fa-compass"></i> <a href="{{ kankaLink '/locations/tree' }}" target="_blank">Locations</a>
            </div>
            <div class="actions">
                <button type="button" data-action="link-folder" data-type="location">
                    <i class="fas fa-link"></i> {{ localize 'KANKA.BrowserLinkFolder' }}
                </button>
                {{#if (hasLinkedJournalEntryOfType 'location')}}
                <button type="button" data-action="sync-folder" data-type="location">
                    <i class="fas fa-sync"></i> {{ localize 'KANKA.BrowserRefreshFolder' }}
                </button>
                {{/if}}
            </div>
        </summary>
        {{#each locations as |location|}}
        <div class="action-row">
            <a href="{{ kankaLink '/locations/' location.id }}" target="_blank">{{ location.name }}</a>
            <div class="actions">
                {{#if (hasKankaJournalEntry location) }}
                <button type="button" data-action="open-entry" data-type="location" data-id="{{ location.id }}">
                    <i class="fas fa-link"></i> {{ location.name }}
                </button>
                <button type="button" data-action="sync-entry" data-type="location" data-id="{{ location.id }}">
                    <i class="fas fa-sync"></i>
                </button>
                {{else}}
                <button type="button" data-action="link-entry" data-type="location" data-id="{{ location.id }}">
                    <i class="fas fa-link"></i>
                </button>
                {{/if}}
            </div>
        </div>
        {{/each }}
    </details>

    <hr/>
</section>
