<section class="kanka-container">
    <header>
        <h2>
            <a href="{{ kankaLink }}" target="_blank">{{ campaign.name }}</a>
        </h2>
    </header>

    {{#if campaign.entry }}
    <section class="campaign-description">
        {{#if campaign.image }}
        <img src="{{ campaign.image }}" alt="{{ campaign.name }}" class="campaign-image" />
        {{/if}}
        {{{ campaign.entry }}}
    </section>
    <hr/>
    {{/if}}

    {{#each data}}
    <details class="entity-list" data-type="{{ @key }}" {{#if this.isOpen}}open{{/if}}>
        <summary class="action-row">
            <div>
                <i class="fas {{ icon }}"></i>
                <a href="{{ kankaLink @key }}" target="_blank">{{ localize (i18nKey 'KANKA.EntityType' @key) }}</a>
            </div>
            <div class="actions">
                <button type="button" data-action="link-folder" data-type="{{ @key }}">
                    <i class="fas fa-link"></i> {{ localize 'KANKA.BrowserLinkFolder' }}
                </button>
                {{#if (hasLinkedJournalEntryOfType @key)}}
                <button type="button" data-action="sync-folder" data-type="{{ @key }}">
                    <i class="fas fa-sync"></i> {{ localize 'KANKA.BrowserRefreshFolder' }}
                </button>
                {{/if}}
            </div>
        </summary>
        {{#each items}}
        <div class="action-row">
            <a href="{{ kankaLink @../key this.id }}" target="_blank">{{ this.name }}</a>
            <div class="actions">
                {{#if (hasKankaJournalEntry this) }}
                <button
                    type="button"
                    data-action="open-entry"
                    data-entity-id="{{ this.entityId }}"
                    data-id="{{ this.id }}"
                    data-type="{{ @../key }}"
                >
                    <i class="fas fa-link"></i> {{ this.name }}
                </button>
                <button
                    type="button"
                    data-action="sync-entry"
                    data-entity-id="{{ this.entityId }}"
                    data-id="{{ this.id }}"
                    data-type="{{ @../key }}"
                >
                    <i class="fas fa-sync"></i>
                </button>
                {{else}}
                <button
                    type="button"
                    data-action="link-entry"
                    data-entity-id="{{ this.entityId }}"
                    data-id="{{ this.id }}"
                    data-type="{{ @../key }}"
                >
                    <i class="fas fa-link"></i>
                </button>
                {{/if}}
            </div>
        </div>
        {{/each }}
        <hr/>
    </details>
    {{/each}}

</section>
