<section class="kanka-container">
    <header>
        <h2 class="action-row">
            <a href="{{ kankaLink }}" target="_blank">{{ campaign.name }}</a>
            <div class="actions">
                <button type="button" data-action="sync-all">
                    <i class="fas fa-sync"></i> {{ localize 'KANKA.BrowserRefreshFolder' }}
                </button>
            </div>
        </h2>
    </header>

    {{#if campaign.entry }}
    <section class="campaign-description">
        {{#if campaign.image }}
        <img src="{{ campaign.image }}" alt="{{ campaign.name }}" class="campaign-image" />
        {{/if}}
        {{{ campaign.entry }}}
    </section>
    <hr/>
    {{/if}}

    <div class="kanka-entity-list">
        <div class="loading-indicator"><i class="fas fa-spinner"></i></div>
    </div>
</section>
