{{#if image}}
    {{#if settings.imageInText}}
        <div class="image-column">
            <img class="kanka-main-image" src="{{image}}">
        </div>
    {{/if}}
{{/if}}

<dl class="grid">
    {{~#each (kankaSortBy (kankaFilterAccessible kankaEntity.attributes) 'default_order') ~}}
        {{~>attributeEntry attribute=this~}}
    {{~/each~}}
</dl>
