{{#>../shared/baseLayout}}
    {{#*inline 'nav'}}
        {{>../shared/tabNav
            name='members'
            label='organisation.tabs.members'
            collection=kankaEntity.members
            idProperty='character_id'
            type='character'
            showCount=true
        }}
    {{~/inline}}

    {{#*inline 'profile'~}}
        {{~>../shared/detailRow value=kankaEntity.type label='shared.labels.type' }}
        {{~>../shared/detailRowArray references=kankaEntity.ancestors label='shared.labels.parent' }}
        {{~>../shared/detailRow value=kankaEntity.location_id type='location' label='shared.labels.location' reference=true }}

        {{~#with (kankaFilterBy (kankaFilterReferences kankaEntity.members) 'pin_id' 'regex:2|3') as | starred |~}}
            {{~#each starred ~}}
                {{~>../shared/detailRow value=character_id type='character' rawLabel=role label='organisation.labels.member' reference=true isSecret=(kankaIsSecret this) }}
            {{~/each~}}
        {{~/with~}}
    {{~/inline}}

    {{#*inline 'content'}}
        <div class="tab -scrollable" data-tab="members" data-group="primary-tabs">
            <ul class="kanka-cards">
                {{#each kankaEntity.members }}
                    {{#with this as | rel | }}
                        {{#with (kankaFindReference rel.character_id 'character') as | character | }}
                            <li class="kanka-card {{#if (kankaIsSecret rel character) }}-secret{{/if}}">
                                {{#if character.thumb}}
                                    <div class="kanka-avatar">
                                        <img src="{{kankaFileUrl character.thumb}}" alt="{{character.name}}">
                                    </div>
                                {{/if}}

                                <h2 class="kanka-card-header">{{{ kankaLinkReference character }}}</h2>
                                <div class="kanka-card-content">{{ kankaReplaceMentions rel.role }}</div>
                            </li>
                        {{/with}}
                    {{/with}}
                {{/each}}
            </ul>
        </div>
    {{~/inline}}
{{/../shared/baseLayout}}
