{{#>../shared/baseLayout}}
    {{#*inline 'nav'}}
        {{>../shared/tabNav
            name='members'
            label='family.tabs.members'
            collection=kankaEntity.members
            idProperty='this'
            type='character'
            showCount=true
        }}
    {{~/inline}}

    {{#*inline 'profile'~}}
        {{~>../shared/detailRow value=kankaEntity.type label='shared.labels.type' }}
        {{~>../shared/detailRowArray references=kankaEntity.ancestors label='shared.labels.parent' }}
    {{~/inline}}

    {{#*inline 'content'}}
        <div class="tab -scrollable" data-tab="members" data-group="primary-tabs">
            <ul class="kanka-cards">
                {{#each kankaEntity.members }}
                    {{#with this as | rel | }}
                        {{#with (kankaFindReference rel 'character') as | member | }}
                            <li class="kanka-card {{#if (kankaIsSecret member rel) }}-secret{{/if}}">
                                <div class="kanka-avatar">
                                    {{#if member.thumb}}
                                        <img src="{{kankaFileUrl member.thumb}}" alt="{{member.name}}">
                                    {{/if}}
                                </div>

                                <h2 class="kanka-card-header">{{{ kankaLinkReference member }}}</h2>
                            </li>
                        {{/with}}
                    {{/with}}
                {{/each}}
            </ul>
        </div>
    {{~/inline}}
{{/../shared/baseLayout}}

