<div
    class="knk:h-10 knk:text-2xl knk:flex knk:items-center knk:justify-center knk:loading-indicator
        {{ifThen isLoading '' 'knk:hidden'}}"
>
    <i class="fas knk:mr-2"></i>
    Loading...
</div>
