{{#if image}}
    {{#if settings.imageInText}}
        <div class="image-column">
            <img src="{{kankaFileUrl image}}" alt="{{name}}" />
        </div>
    {{/if}}
{{/if}}

<dl class="kanka-grid">
    {{~#each (kankaSortBy (kankaFilterAccessible kankaEntity.attributes) 'default_order') ~}}
        {{~>./attributeEntry attribute=this~}}
    {{~/each~}}
</dl>
