<ul class="kanka-cards">
    {{#each (kankaFilterReferences entity.children 'entity_id') as |rel|}}
        {{#with (kankaFindReference rel.entity_id) as | ref | }}
            <li class="kanka-card {{#if (kankaIsSecret ref) }}-secret{{/if}}">
                <div class="kanka-avatar">
                    {{#if ref.thumb}}
                        <img src="{{kankaFileUrl ref.thumb}}" alt="{{ref.name}}" />
                    {{/if}}
                </div>

                <h2 class="kanka-card-header">{{{ kankaLinkReference ref }}}</h2>

                <div class="kanka-card-content">{{{ rel.type }}}</div>
            </li>
        {{/with}}
    {{/each}}
</ul>