:root {
    --kanka-quest-complete-color: #56d956;
    --kanka-quest-open-color: #eab553;
}

.kanka-limit-debug {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5em 1em;
    z-index: 9999;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.-loading {
    i:first-of-type {
        animation: loader 1s steps(8, end) infinite;

        &::before {
            content: '\f110';
        }
    }
}

button#kanka {
    flex: 0 0 32px;

    > img {
        position: relative;
        border: none;
        height: 22px;
        vertical-align: middle;
    }
}

.kanka-quest-status {
    &.-complete {
        color: var(--kanka-quest-complete-color);
    }
    
    &.-open {
        color: var(--kanka-quest-open-color);
    }
}
