button#kanka {
    flex: 0 0 32px;

    > img {
        position: relative;
        top: 4px;
        border: none;
    }
}

.kanka-container {
    a {
        color: inherit;
        text-decoration: none;
    }

    hr {
        clear: both;
    }

    .campaign-description {
        .campaign-image {
            width: 33%;
            margin: 0 1em 1em 0;
            float: left;
        }
    }

    details {
        summary {
            font-size: 1.3em;
            border-bottom: 1px solid #782e22;
            margin-bottom: .3em;
            padding: .3em 0;
        }
    }

    .action-row {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > :not(.actions) {
            flex: 1;
        }

        .actions {
            display: flex;
            flex-direction: row;

            button {
                width: auto;
                height: 24px;
                margin: 0;
                padding: 0 4px;
                line-height: 24px;
                text-align: center;
            }
        }
    }
}
