name: Release
on:
    push:
        branches:
            - main
jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v2
                with:
                    fetch-depth: 0

            -   name: Setup Node.js
                uses: actions/setup-node@v1
                with:
                    node-version: 16

            -   name: Install dependencies
                run: npm i

            -   name: Checks
                run: npm run check

            -   name: Tests
                run: npm run test

            -   name: Build
                run: npm run build

            -   name: Release
                id: create-release
                uses: docker://codfish/semantic-release-action:latest
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            -   name: Deploy on FoundryVTT
                if: steps.create-release.outputs.new-release-published == 'true'
                uses: eXaminator/foundry-auto-release@1.1.3
                with:
                    manifest-path: dist/module.json
                    package-id: ${{ secrets.FVTT_PACKAGE_ID }}
                    fvtt-username: ${{ secrets.FVTT_USERNAME }}
                    fvtt-password: ${{ secrets.FVTT_PASSWORD }}


