name: Tests
on:
    - pull_request

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
              with:
                  fetch-depth: 1

            - name: Setup Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: 20

            - name: Get foundry code
              env:
                  FOUNDRY_USERNAME: ${{ secrets.FVTT_USERNAME }}
                  FOUNDRY_PASSWORD: ${{ secrets.FVTT_PASSWORD }}
              run: ./sync-foundry-code.sh

            - name: npm install
              run: npm i

            - name: Checks
              run: npm run check

            - name: Tests
              run: npm run test
